@using SuperfonWorks.Data.Entities
@{
}

@*<div class="card" style="width: 100%;">
    <div class="card-title"><h5 class="card-title">İstifadəçilər</h5></div>
    <div class="card-body d-flex">
        
        
        <a asp-controller="Users" asp-action="modify" class="btn btn-primary">Əlavə Et</a>
        <div class="ml-auto"></div>
        <input id="myInput" type="text" placeholder="Search..">
    </div>
</div>*@

<table class="table table-bordered table-responsive table-hover" id="userstable">
    <thead>
      <tr>
        <th>Id </th>
        <th>Qrup Adı </th>
        <th></th>
      </tr>
    </thead>
   <tbody id="myTable">

       
    @foreach (var d in ViewData["userGroups"] as List<UserGroup>)
    {
<tr>
    <td>@d.UserGroupId</td>
    <td>@d.UserGroupName</td>
    <td>
        <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" asp-controller="Users" asp-action="GroupMenuPermission" asp-route-id="@d.UserGroupId">Menyu İzni</a>
              </div>
        </div>
    </td>
</tr>

    }

    </tbody>
</table>
