@page "/denied"
@model SuperfonMobileAPI.Pages.DeniedModel
@{
}


<div style="text-align:center">
    <div>
    <img src="/lock.png" width="100" height="100"/>
</div>
<div>
    Bu səhifəni görmək üçün səlahiyyətiniz yoxdur
</div>
</div>
